
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Доступ запрещен</title>
</head>
<body>
    <div align="center"> 
        <h3>Доступ запрещен! Вы не обладаете правами для доступа к этой странице.</h3>
        <br />
        <button class="btn btn-danger" onclick="goBack()">Вернуться</button>
    </div>
</body>
</html>
